@import "tailwindcss";

:root {
  --background: var(--color-neutral-100);
  --foreground: var(--color-neutral-800);
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--color-neutral-800);
  --color-secondary: var(--color-neutral-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-neutral-100);
    --foreground: var(--color-neutral-100);
    --color-primary: var(--color-neutral-100);
    --color-secondary: var(--color-neutral-400);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
